<%= form_with(model: [:admin, author], local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :author_name %>
  </div>

  <div class="field">
    <%= form.label :main_genre %>
    <%= form.text_field :main_genre, id: :author_main_genre %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, id: :author_birthdate %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info, id: :author_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
