<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Main genre</th>
      <th>Birthdate</th>
      <th>Info</th>
      <th>Books</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.main_genre %></td>
        <td><%= author.birthdate %></td>
        <td><%= author.info %></td>
        <td><%= link_to 'Books', [author, :books] %></td>
        <td><%= link_to 'Show', author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
