<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.genre %></td>
        <td><%= link_to @author.name, @author %></td>
        <td><%= link_to 'Show', [@author, book] %></td>
        <td><%= link_to 'Edit', edit_author_book_path(@author, book) %></td>
        <td><%= link_to 'Destroy', [@author, book], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_author_book_path(@author) %>
